@page
@model BioData.Pages.EFCO.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PersonModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonModel.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonModel.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonModel.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonModel.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonModel.ContactInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonModel.ContactInfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonModel.SocialInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonModel.SocialInfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonModel.WorkHistory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonModel.WorkHistory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonModel.Education)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonModel.Education)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="PersonModel.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
