@page
@model BioData.Pages.EFCO.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PersonModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonModel.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonModel.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonModel.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonModel.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonModel.ContactInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonModel.ContactInfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonModel.SocialInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonModel.SocialInfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonModel.WorkHistory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonModel.WorkHistory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonModel.Education)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonModel.Education)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PersonModel.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
